# Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a':10, 'b':20, 'c':30}

In [6]:
pd.Series(my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr, index = labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [13]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [16]:
ser1 = pd.Series(data = [1,2,3,4], index = ["USA", "CHINA", "FRANCE", "GERMANY"])

In [17]:
ser1

USA        1
CHINA      2
FRANCE     3
GERMANY    4
dtype: int64

In [18]:
ser2 = pd.Series(data = [1,2,3,4], index = ["USA", "CHINA", "ITALY", "JAPAN"])

In [19]:
ser2

USA      1
CHINA    2
ITALY    3
JAPAN    4
dtype: int64

In [20]:
ser1['CHINA']

2

In [21]:
ser2['JAPAN']

4

In [22]:
ser1 + ser2

CHINA      4.0
FRANCE     NaN
GERMANY    NaN
ITALY      NaN
JAPAN      NaN
USA        2.0
dtype: float64