In [4]:
import pandas as pd
import quandl

In [5]:
start = pd.to_datetime('2012-01-01')
end = pd.to_datetime('2017-01-01')

In [7]:
aapl = quandl.get('WIKI/AAPL.11', start_date = start, end_date = end)
cisco = quandl.get('WIKI/CSCO.11', start_date = start, end_date = end)
ibm = quandl.get('WIKI/IBM.11', start_date = start, end_date = end)
amzn = quandl.get('WIKI/AMZN.11', start_date = start, end_date = end)

In [11]:
aapl.head()

            Adj. Close
Date
2012-01-03   52.848787
2012-01-04   53.132802
2012-01-05   53.722681
2012-01-06   54.284287
2012-01-09   54.198183

In [12]:
aapl.iloc[0]['Adj. Close']

52.848786580038002

In [13]:
for stock_df in (aapl, cisco, ibm, amzn):
    stock_df['Normed Return'] = stock_df['Adj. Close']/stock_df.iloc[0]['Adj. Close']

In [14]:
aapl.head()

            Adj. Close  Normed Return
Date
2012-01-03   52.848787       1.000000
2012-01-04   53.132802       1.005374
2012-01-05   53.722681       1.016536
2012-01-06   54.284287       1.027162
2012-01-09   54.198183       1.025533